<!-- Scripts -->
<script src="/scripts/bundle.min.js" defer></script>
{% if env.googleAnalyticsTrackingId %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{env.googleAnalyticsTrackingId}}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{env.googleAnalyticsTrackingId}}', { 'anonymize_ip': true });
</script>
{% endif %}
<!-- End scripts -->
