<section class="grav-c-hero">
  <img
    class="grav-c-hero__banner"
    src="https://placeimg.com/1500/500/tech/sepia"
    alt=""
  />

  <div class="grav-c-hero__container">
    <h1>
      {{ title }}
    </h1>
    <p>
      {{ contents | safe }}
    </p>
  </div>
</section>
<section class="grav-o-full-bleed__content">
  <ul class="grav-c-list-cards-basic">
    {% for article in colFeaturedArticle %}
      <li class="grav-c-card-basic">
        <a href="/{{ article.path }}">
          {% if article.image %}
            <img src="{{ article.image.src }}" alt="{{ article.image.alt }}" />
            <svg role="img">
              <use xlink:href="#decoration-arrow-right"></use>
            </svg>
          {% endif %}
          <h3>{{ article.title }}</h3>
        </a>
        <p>{{ article.description }}</p>
      </li>
    {% endfor %}
  </ul>
</section>
